body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 50px;;
}
#gridContainer{
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), var(--grid-cell-size));
    grid-template-columns: repeat(var(--grid-cols),  var(--grid-cell-size));
    border: 2px solid #0e1111;
}


